<template name='calendar'>
    <h3>View Your Calendar</h3>
    <table class='cal-table'>
        <tr>
        <td class='weekend'>Sunday</td>
        <td class='weekday'>Monday</td>
        <td class='weekday'>Tuesday</td>
        <td class='weekday'>Wednesday</td>
        <td class='weekday'>Thursday</td>
        <td class='weekday'>Friday</td>
        <td class='weekend'>Saturday</td>
        </tr>
        <tr class='cal-row'>
        <td class='cal-weekend'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekend'></td>
        </tr>
        <tr class='cal-row'>
        <td class='cal-weekend'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekend'></td>
        </tr>
        <tr class='cal-row'>
        <td class='cal-weekend'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekend'></td>
        </tr>
        <tr class='cal-row'>
        <td class='cal-weekend'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekend'></td>
        </tr>
        <tr class='cal-row'>
        <td class='cal-weekend'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekday'></td>
        <td class='cal-weekend'></td>
        </tr>

    </table>
</template>
